@model Mission4ModelValidation.Models.GradeModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Brock Smiley Web Page!";
}


@*This is my home page*@

<div>
    <h1>Brock Smiley</h1>

    <img src="~/img/racing.jpeg" style="height: auto; width: 400px" />

</div>

<div>
    <p>
        Thus far, I have really been enjoying IS 413. There are many things that I hope to get out of this class.
        Firstly, adequate progamming abilites in a strongly typed language such as C#. I also hope to be proficient in ASP.net
        and React. Learning how to program web apps is a valuable skill and know in "ins and outs" can make one very competitive
        in the professional market.
    </p>
    <ul>
        <hx style="font-weight: bold">Top #3 Jobs</hx>

        <li>CIO</li>
        <li>Director of IT</li>
        <li>Tech Consultant</li>
    </ul>

</div>




<script src="js/page.js"></script>
