body {
    font-family: Arial;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
}

label {
    font-size: 15px;
    color: darkslategrey;
    width: 150px;
    display: inline-block;
}

div {
    padding: 20px;
}